This is HOME PAGE<br>
{{ AroVar.alpha }}&nbsp;{{ AroVar.bita }}&nbsp;{{ AroVar.gamma }}&nbsp;
<br>
{% if GetInfo %}
<table border="1">
    <thead>
        <th>URL</th>
        <th>ISWP</th>
        <th>Search Time</th>
    </thead>
    {% for Info in GetInfo %}
    <tr>
        <td>{{ Info.url }}</td>
        <td>{{ Info.iswp }}</td>
        <td>{{ Info.search_time }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h3>Commodities</h3>
<table border="1">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
    </thead>
    {% with aro_var="Saiful" %}
    {% for commodity in commodities %}
    <tr>
        <td>{{ commodity.0 }}</td>
        <td>{{ commodity.1 }}</td>
        <td>{{ commodity.0 }}</td>
    </tr>
    {% endfor %}
    {% endwith %}

</table>
{% else %}
<p>No data found!</p>
{% endif %}